APP_NAME=QR Face Service
APP_VERSION=0.1.0
ENVIRONMENT=development
HOST=0.0.0.0
PORT=8000
FACE_THRESHOLD=0.5
MAX_IMAGE_SIZE_MB=5
MIN_IMAGE_WIDTH=200
MIN_IMAGE_HEIGHT=200
FACE_MODEL_NAME=buffalo_l
FACE_DET_WIDTH=640
FACE_DET_HEIGHT=640
